<p id="notice"><%= notice %></p>

<p>
  <strong>Fertilizer:</strong>
  <%= @fertilizer_history.fertilizer_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fertilizer_history.quantity %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @fertilizer_history.zone_id %>
</p>

<p>
  <strong>Empoyee:</strong>
  <%= @fertilizer_history.empoyee %>
</p>

<%= link_to 'Edit', edit_fertilizer_history_path(@fertilizer_history) %> |
<%= link_to 'Back', fertilizer_histories_path %>
