<%= form_with(model: harvest_history, local: true) do |form| %>
  <% if harvest_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(harvest_history.errors.count, "error") %> prohibited this harvest_history from being saved:</h2>

      <ul>
        <% harvest_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :zone_id %>
    <%= form.text_field :zone_id %>
  </div>

  <div class="field">
    <%= form.label :employee %>
    <%= form.text_field :employee %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
