<p id="notice"><%= notice %></p>

<h1>Water Histories</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Quantity</th>
      <th>Zone</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @water_histories.each do |water_history| %>
      <tr>
        <td><%= water_history.start_time %></td>
        <td><%= water_history.end_time %></td>
        <td><%= water_history.quantity %></td>
        <td><%= water_history.zone_id %></td>
        <td><%= water_history.employee %></td>
        <td><%= link_to 'Show', water_history %></td>
        <td><%= link_to 'Edit', edit_water_history_path(water_history) %></td>
        <td><%= link_to 'Destroy', water_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Water History', new_water_history_path %>
