<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @equipment_history.date %>
</p>

<p>
  <strong>Task:</strong>
  <%= @equipment_history.task %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment_history.description %>
</p>

<p>
  <strong>Next maintinance:</strong>
  <%= @equipment_history.next_maintinance %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @equipment_history.equipment_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @equipment_history.employee %>
</p>

<%= link_to 'Edit', edit_equipment_history_path(@equipment_history) %> |
<%= link_to 'Back', equipment_histories_path %>
