<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seed.name %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @seed.variety %>
</p>

<p>
  <strong>Seasons:</strong>
  <%= @seed.seasons %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @seed.quantity %>
</p>

<p>
  <strong>Lifespan:</strong>
  <%= @seed.lifespan %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @seed.supplier_id %>
</p>

<%= link_to 'Edit', edit_seed_path(@seed) %> |
<%= link_to 'Back', seeds_path %>
