<%= form_with(model: zone, local: true) do |form| %>
  <% if zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zone.errors.count, "error") %> prohibited this zone from being saved:</h2>

      <ul>
        <% zone.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :farm_id %>
    <%= form.text_field :farm_id %>
  </div>

  <div class="field">
    <%= form.label :seed_id %>
    <%= form.text_field :seed_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
